doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    title= my_title

    link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='css/main.css')
    
    meta(property='og:title', content= og_title)
    meta(property='og:image', content=og_image)
    meta(property='og:type', content=og_type)
    meta(property='og:description', content=og_description)
    meta(property='og:site_name', content=og_sitename)

    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content=twitter_site)
    meta(name='twitter:title', content=twitter_title)
    meta(name='twitter:description', content=twitter_description)
    meta(name='twitter:image:src', content=twitter_image)
    meta(name='twitter:domain', content=twitter_domain)
  body
    script(src='js/main.js')
    // Global Site Tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id='+analitycs_id)
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', #{analitycs_id}, 'auto');
      ga('send', 'pageview');

    .main-app-wrapper
      h1 Es una pagina de prueba
      block content